<app-public-navbar>
  <button navbar-left type="button" class="dash-sidebar-toggle"
    (click)="mobileMenuSidebarOpen($event, 'overlay-open')"
    aria-label="Abrir menú">
    <i-feather name="menu"></i-feather>
  </button>

  <div navbar-actions ngbDropdown class="dash-bell" placement="bottom-end">
    <button ngbDropdownToggle type="button" class="dash-bell__trigger" aria-label="Notificaciones">
      <i-feather name="bell"></i-feather>
      <span *ngIf="(unreadCount$ | async) as unreadCount"
        class="dash-bell__badge"
        [class.d-none]="unreadCount === 0">
        {{ unreadCount }}
      </span>
    </button>
    <div ngbDropdownMenu class="dash-bell__menu">
      <div class="dash-bell__menu-header">
        {{ 'HEADER.MESSAGES.TEXT' | translate }}
      </div>
      <div class="dash-bell__menu-body"></div>
    </div>
  </div>
</app-public-navbar>

<app-configure-wallet></app-configure-wallet>
